footer#footer
    .foot
        .foot-container
                .column 
                    .text  columna 1   
                .column 
                    .text Columna 2
                .column.social
                    .item
                        a(href="http://")
                            img(src=require('../../assets/images/img/icons/facebookblanco64.png'), alt="")
                    .item
                        a(href="http://")
                            img(src=require('../../assets/images/img/icons/instagramblanco64.png'), alt="")
                    .item
                        a(href="http://")
                            img(src=require('../../assets/images/img/icons/linkdinblanco64.png'), alt="")
                    .item
                        a(href="http://")
                            img(src=require('../../assets/images/img/icons/twitterblanco64.png'), alt="")
