
nav#menutop
    .ui.navbar.menu.desktop
        .ui.grid.menu-container
            .row.nopadding
                ul.thirteen.wide.column
                        li.menu-item 
                            a(href='#') Robotica
                            ul.sub-menu
                                li.menu-item
                                        a(href="#") coco
                                li.menu-item
                                        a(href="#") coco2
                        li.menu-item  
                            a(href='/productos.html') productos
                        li.menu-item  
                            a(href='#') valvulas
                        li.menu-item  
                            a(href='#') telemetria
                        li.menu-item  
                            a(href='#') centros de control
                .one.column
                    .menu-icon
                        a(href='#')
                            img(src=require('../../assets/images/svg/HOME-01.svg'))
    .ui.navbar.menu.mobile.shadow
        .ui.grid.menu-container
            .row
                .top-container
                    .top-item
                        #burger
                            .toggle
                                span
                                span
                                span
                    //- .top-item
                    //-     .search 
                    .top-item
                        .menu-icon
                            img(src=require('../../assets/images/svg/HOME-02.svg'))
            .row.nopadding
                ul.ten.wide.column.center.animation-mobile
                        li.menu-item 
                            a(href='#') Roboticeea
                            ul.sub-menu
                                li.menu-item
                                        a(href="#") coco
                                li.menu-item
                                        a(href="#") coco2
                        li.menu-item   
                            a(href='/productos.html') Productos
                        li.menu-item  
                            a(href='#') valvulas
                        li.menu-item  
                            a(href='#') telemetria
                        li.menu-item  
                            a(href='#') centros de control