<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block head
    body 
        header
            include ../layout/menuPrincipal.pug
        block content
        include ../layout/footer.pug