extends ./base/base.pug
block head 
    title Saufer
    //- script(type='text/javascript' src='/js/index.js' defer='defer') 
block content 
    include ./home/sliderPrincipal.pug
    include ./home/menuInterno.pug
