@import "../abstracts/variables.scss";
@import "../abstracts/mixing.scss";
@font-face {
  font-family: $h-b;
  src: url("../../assets/fonts/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("../../assets/fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../../assets/fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $h-r;
  src: url("../../assets/fonts/HelveticaLTStd-Roman.eot");
  src: url("../../assets/fonts/HelveticaLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/HelveticaLTStd-Roman.woff2") format("woff2"), url("../../assets/fonts/HelveticaLTStd-Roman.woff") format("woff"), url("../../assets/fonts/HelveticaLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $h-l;
  src: url("../../assets/fonts/HelveticaLTStd-Roman_1.eot");
  src: url("../../assets/fonts/HelveticaLTStd-Roman_1.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/HelveticaLTStd-Roman_1.woff2") format("woff2"), url("../../assets/fonts/HelveticaLTStd-Roman_1.woff") format("woff"), url("../../assets/fonts/HelveticaLTStd-Roman_1.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// @font-face {
//     font-family: 'Helvetica LT Std Cond';
//     src: url('../../assets/fonts/HelveticaLTStd-LightCond.eot');
//     src: url('../../assets/fonts/HelveticaLTStd-LightCond.eot?#iefix') format('embedded-opentype'),
//         url('../../assets/fonts/HelveticaLTStd-LightCond.woff2') format('woff2'),
//         url('../../assets/fonts/HelveticaLTStd-LightCond.woff') format('woff'),
//         url('../../assets/fonts/HelveticaLTStd-LightCond.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Helvetica LT Std';
//     src: url('../../assets/fonts/HelveticaLTStd-LightCond_1.eot');
//     src: url('../../assets/fonts/HelveticaLTStd-LightCond_1.eot?#iefix') format('embedded-opentype'),
//         url('../../assets/fonts/HelveticaLTStd-LightCond_1.woff2') format('woff2'),
//         url('../../assets/fonts/HelveticaLTStd-LightCond_1.woff') format('woff'),
//         url('../../assets/fonts/HelveticaLTStd-LightCond_1.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Helvetica LT Std Cond';
//     src: url('../../assets/fonts/HelveticaLTStd-LightCond_2.eot');
//     src: url('../../assets/fonts/HelveticaLTStd-LightCond_2.eot?#iefix') format('embedded-opentype'),
//         url('../../assets/fonts/HelveticaLTStd-LightCond_2.woff2') format('woff2'),
//         url('../../assets/fonts/HelveticaLTStd-LightCond_2.woff') format('woff'),
//         url('../../assets/fonts/HelveticaLTStd-LightCond_2.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Helvetica';
//     src: url('../../assets/fonts/Helvetica_cyr-Bold_1.eot');
//     src: url('../../assets/fonts/Helvetica_cyr-Bold_1.eot?#iefix') format('embedded-opentype'),
//         url('../../assets/fonts/Helvetica_cyr-Bold_1.woff2') format('woff2'),
//         url('../../assets/fonts/Helvetica_cyr-Bold_1.woff') format('woff'),
//         url('../../assets/fonts/Helvetica_cyr-Bold_1.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Helvetica LT Std';
//     src: url('../../assets/fonts/HelveticaLTStd-Roman_2.eot');
//     src: url('../../assets/fonts/HelveticaLTStd-Roman_2.eot?#iefix') format('embedded-opentype'),
//         url('../../assets/fonts/HelveticaLTStd-Roman_2.woff2') format('woff2'),
//         url('../../assets/fonts/HelveticaLTStd-Roman_2.woff') format('woff'),
//         url('../../assets/fonts/HelveticaLTStd-Roman_2.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
body,
html {
  font-family: $h-r;
  margin: 0;
  padding: 0;
}

em {
  font-style: italic;
}

button {
  &:focus {
    outline: none;
  }
}

.row.nopadding {
  padding: 0 !important;
}

.nopadding {
  padding: 0 !important;
}

.shadow {
  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

img {
  display: block;
}

a {
  text-decoration: none;
  display: block;
  line-height: normal;
  letter-spacing: normal;
  text-shadow: none;
}

.inside-pages {
  margin-top: 4.5pc;
  margin-bottom: 0;
  @include applyUnder(769px) {}
}

.pages-products {
  padding-bottom: 5pc;
  overflow: hidden;
}

p {
  @include xsResp {
    font-size: 16px;
  }
  &:empty {
    margin: 0;
    line-height: 0;
  }
}

strong,
b {
  font-family: $h-b;
  font-weight: bold;
}

hr {
  width: 100%;
  margin: 0 0 10px 0;
  border: none;
  height: 1px;
  background: white;
}

.banner-action {
  margin: 20px auto 20px auto;
  padding: 10px 40px;
  background: $purple;
  border: 1px solid $purple;
  color: $white;
  font-size: 22px;
  box-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  border-radius: 5px;
  display: inline-block;
  @include colors(true);
  @include applyUnder($sm) {
    margin: 40px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
  }
}

.ui.container.shadow {
  @include applyUnder($sm) {
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  border: 2px solid #f7e700;
  border-radius: 5px;
  background-color: rgba(247, 231, 0, 0.35);
  padding: 10px;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
  padding: 10px !important;
  background-color: rgba(255, 0, 0, 0.17);
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  word-wrap: break-word;
}

h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

h2 {
  font-size: 26px;
  @extend h1;
}

h3 {
  font-size: 20px;
  @extend h1;
}

h4 {
  font-size: 18px;
  @extend h1;
}

h5 {
  font-size: 14px;
  @extend h1;
}

h6 {
  font-size: 12px;
  @extend h1;
}

ul {
  margin: 0;
}