section
    .ui.container.section-schedule.shadow
        article
            h1 titulo de la agenda 
            h3 sub titulo de algo destacado

            .banner
                .banner-video
                    <iframe src="https://www.youtube.com/embed/McBnpz3LjvU?autoplay=1&controls=0&mute=1&showinfo=0&modestbranding=1&rel=0&showsearch=0&iv_load_policy=3&cc_load_policy=1&fs=0autohide=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .banner
                .banner-imagen
                    figure  
                        img(src=require('../../assets/images/img/view.png'))
            figure
                img.float(src=require('../../assets/images/img/view.png'))
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui. Officia in ipsa debitis hic nisi, sit quasi architecto, facilis qui tempora nostrum iure eligendi ullam vel provident aut sapiente.

        section
            .schedule-slider
                h3 Le puede interesar
                .ui.grid.equal.width.tree.center.aligned.padded.start-slider
                    .column
                        .schedule-container
                            .image-to-post   
                                picture
                                    img(src=require('../../assets/images/img/dummy.jpeg'))
                            .description
                                p   Lorem ipsum dolor sit amet consectetur
                                
                    .column
                        .schedule-container
                            .image-to-post
                                picture
                                    img(src=require('../../assets/images/img/dummy.jpeg'))
                            .description
                                p   Lorem ipsum dolor sit amet consectetur
                    .column
                        .row
                            .schedule-container
                                .image-to-post
                                    picture
                                        img(src=require('../../assets/images/img/dummy.jpeg'))
                                .description
                                    p   Lorem ipsum dolor sit amet consectetur kihkjd  dfgdfgdfg dfgdfgdfgd dfgd gdfgdfgrtjftyjfg dfghdfgh
                    .column
                        .row
                            .schedule-container
                                .image-to-post
                                    picture
                                        img(src=require('../../assets/images/img/dummy.jpeg'))
                                .description
                                    p   Lorem ipsum dolor sit amet consectetur kihkjd  dfgdfgdfg dfgdfgdfgd dfgd gdfgdfgrtjftyjfg dfghdfgh
                    .column
                        .row
                            .schedule-container
                                .image-to-post
                                    picture
                                        img(src=require('../../assets/images/img/dummy.jpeg'))
                                .description
                                    p   Lorem ipsum dolor sit amet consectetur kihkjd  dfgdfgdfg dfgdfgdfgd dfgd gdfgdfgrtjftyjfg dfghdfgh
                    .column
                        .row
                            .schedule-container
                                .image-to-post
                                    picture
                                        img(src=require('../../assets/images/img/dummy.jpeg'))
                                .description
                                    p   Lorem ipsum dolor sit amet consectetur kihkjd  dfgdfgdfg dfgdfgdfgd dfgd gdfgdfgrtjftyjfg dfghdfgh

                                    