@mixin gradientMenu {
    background: rgba(34, 49, 91, 1);
    background: -moz-linear-gradient(left, rgba(34, 49, 91, 1) 0%, rgba(29, 79, 125, 1) 25%, rgba(34, 49, 91, 1) 50%, rgba(29, 79, 125, 1) 75%, rgba(34, 49, 91, 1) 99%, rgba(34, 49, 91, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34, 49, 91, 1)), color-stop(25%, rgba(29, 79, 125, 1)), color-stop(50%, rgba(34, 49, 91, 1)), color-stop(75%, rgba(29, 79, 125, 1)), color-stop(99%, rgba(34, 49, 91, 1)), color-stop(100%, rgba(34, 49, 91, 1)));
    background: -webkit-linear-gradient(left, rgba(34, 49, 91, 1) 0%, rgba(29, 79, 125, 1) 25%, rgba(34, 49, 91, 1) 50%, rgba(29, 79, 125, 1) 75%, rgba(34, 49, 91, 1) 99%, rgba(34, 49, 91, 1) 100%);
    background: -o-linear-gradient(left, rgba(34, 49, 91, 1) 0%, rgba(29, 79, 125, 1) 25%, rgba(34, 49, 91, 1) 50%, rgba(29, 79, 125, 1) 75%, rgba(34, 49, 91, 1) 99%, rgba(34, 49, 91, 1) 100%);
    background: -ms-linear-gradient(left, rgba(34, 49, 91, 1) 0%, rgba(29, 79, 125, 1) 25%, rgba(34, 49, 91, 1) 50%, rgba(29, 79, 125, 1) 75%, rgba(34, 49, 91, 1) 99%, rgba(34, 49, 91, 1) 100%);
    background: linear-gradient(to right, rgba(34, 49, 91, 1) 0%, rgba(29, 79, 125, 1) 25%, rgba(34, 49, 91, 1) 50%, rgba(29, 79, 125, 1) 75%, rgba(34, 49, 91, 1) 99%, rgba(34, 49, 91, 1) 100%);
}

@mixin gradientMobile {
    background: rgba(237, 237, 237, 1);
    background: -moz-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237, 237, 237, 1)), color-stop(53%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(237, 237, 237, 1) 0%, rgba(246, 246, 246, 1) 53%, rgba(255, 255, 255, 1) 100%);
}

@mixin gradientHover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.55) 55%, rgba(0, 0, 0, 1) 100%);
}

@mixin laptopL {
    @media screen and (max-width: 1441px) and (min-width: 1025px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1025px) {
        @content;
    }
}

@mixin applyUnder ($pixels) {
    @media screen and (max-width: $pixels) {
        @content;
    }
}

@mixin applyOver ($pixels) {
    @media screen and (min-width: $pixels) {
        @content;
    }
}

@mixin applyBetween($pixels-min, $pixels-max) {
    @media screen and (min-width: $pixels-min) and (max-width: $pixels-max) {
        @content;
    }
}

@mixin xsResp {
    @media screen and (min-width: $xs) and (max-width: $sm) {
        @content;
    }
}

@mixin smResp {
    @media screen and (min-width: $sm) and (max-width: $md) {
        @content;
    }
}

@mixin mdResp {
    @media screen and (min-width: $md) and (max-width: $lg) {
        @content;
    }
}


@mixin colors ($boolean){
    @each $name , $color in $colors {
        &.#{$name}{
            @if $boolean {
                background-color: $color;
                border-color: $color;
            }
            @else{
                color:$color; 
            }
        }
    }
}