$primaryColor: #22315b;
$secondaryColor:#1d4e7d;
$white: #FFF;
$red:#d10505;
$black:#191e21;
$purple:rgba(40, 26, 71, 1);
$gray:rgba(75, 75, 74, 1);
$gray-medium:#737372;
$gray-text:rgb(130, 130, 130);
$gray-light:rgba(221, 221, 220, 1);
$pruple-light:rgba(76, 64, 102, 1);

/*
* Colores de productos 
*/

$red:rgb(176, 46, 52);
$orange:rgb(255, 141, 0);
$green:rgb(115, 188, 0);
$blue:rgb(14, 14, 80);
$greenDark:rgb(42, 104, 2);

$colors :("red":$red,"orange":$orange,"green":$green,"blue":$blue,"green-dark":$greenDark);


/*
* Colores de productos 
*/


$h-r:'Helvetica-regular';
$h-b:'Helvetica-bold';
$h-l:'Helvetica-light';


$xs: 0;
$sm: 480px;
$md: 768px;
$lg: 1024px;