section
    .schedule
        h3 Agenda Tecnologica
        .ui.grid.equal.width.tree.center.aligned.padded.stackable
            .column
                .schedule-container
                    .image-to-post   
                        picture
                            img(src=require('../../assets/images/img/dummy.jpeg'))
                    .description
                        p   Lorem ipsum dolor sit amet consectetur
                        
            .column
                .schedule-container
                    .image-to-post
                        picture
                            img(src=require('../../assets/images/img/dummy.jpeg'))
                    .description
                        p   Lorem ipsum dolor sit amet consectetur
            .column
                .row
                    .schedule-container
                        .image-to-post
                            picture
                                img(src=require('../../assets/images/img/dummy.jpeg'))
                        .description
                            p   Lorem ipsum dolor sit amet consectetur kihkjd  dfgdfgdfg dfgdfgdfgd dfgd gdfgdfgrtjftyjfg dfghdfgh