section
    .success-cases
        h3 Casos de Exito
        .ui.grid.equal.width.tree.center.aligned.padded.stackable
            .column
                .success-cases-container
                    .description
                        p   Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde natus
            .column
                .success-cases-container
                    .description
                        p   Lorem ipsum dolor sit amet consectetur
            .column
                .row
                    .success-cases-container.middle-top
                        .description
                            p   Lorem ipsum dolor sit amet consectetur
                .row
                    .success-cases-container.middle-botton
                        .description
                            p   Lorem ipsum dolor sit amet consectetur
