.ui.container.inside-pages
    include selectors.pug
#tabOne.ui.container.pages-products.shadow
    include product-banner.pug
    include products-icons-description.pug
    include producs-img-description.pug
    include casos-exito.pug 
    include form.pug
    include agenda.pug
    include slider-logos.pug
#tabTwo.ui.container.pages-products.shadow
    include product-banner.pug
    include products-icons-description.pug
    include producs-img-description.pug
    include casos-exito.pug 
    include agenda.pug
    include slider-logos-alt.pug
.iu.container.full-width
    include mapa.pug
