section
    .form-contact  
        .form-container
            .form-item(style=`background-image:url(${require("../../assets/images/img/test3.jpg")})`)
                h2 Experiencias memorables
                h4 solicitar asesoria
                button#form-display solicitar asesoria
            .form-item
                include form-content.pug
