section
    #maps.googlemaps
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXzI0PvRQozWKvqjF-W2XRf8CDEfCcAcQ&callback=makeMap"> </script>
script.
    var map;
    var center = { lat: 4.641677, lng: -74.09525974};
    var options = { 
                  center: center,
                  zoom: 15
                };
      function makeMap() {
        map = new google.maps.Map(document.getElementById('maps'), options);
      }
 