.ui.grid.equal.width.four.center.aligned.padded.gallery.stackable
    .column.nopadding
        .gallery-item
            .gallery-information
                .float-warp
                    h6 Robot miguelito
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
    .column.nopadding
        .gallery-item(style=`background-image:url(${require("../../assets/images/img/test3.jpg")})`)
            .gallery-information
                .float-warp
                    h6 Robot miguelito
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
    .column.nopadding
        .gallery-item(style=`background-image:url(${require("../../assets/images/img/test3.jpg")})`)
            .gallery-information
                .float-warp
                    h6 Robot miguelito
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
    .column.nopadding
        .gallery-item(style=`background-image:url(${require("../../assets/images/img/test3.jpg")})`)
            .gallery-information
                .float-warp
                    h6 Robot miguelito
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 

