.ui.grid.equal.width.center.aligned.padded
    .column.nopadding
        .banner-image(style=`background-image:url(${require("../../assets/images/img/test3.jpg")})`)
            .banner-image-text
                h2  Experiencias Memorables
                button.banner-action  Solicitar Ascesoria
