.icons-description
    .item
        .img-cont
            img(src=require('../../assets/images/img/unlock.png'))
        .description
            span Carga util hasta 80 kg   
    .item
        .img-cont
            img(src=require('../../assets/images/img/view.png'))
        .description
            span Carga util hasta 80 kg   
    .item
        .img-cont
            img(src=require('../../assets/images/img/diagram.png'))
        .description
            span Angulo maximo de inclinacion
    .item
        .img-cont
            img(src=require('../../assets/images/img/diagram.png'))
        .description
            span Carga util hasta 80 kg 