section 
    .sld
        .sld-wrapper    
            .sld-item 
                .sld-container
                    .sld-description-container
                        .sld-description-float
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique quasi quaerat unde quo, eum voluptatem alias quam, assumenda, id expedita sit ex velit totam beatae aliquid accusantium sed reiciendis fuga.
                    .sld-logo
                        img(src=require('../../assets/images/img/dummy-logo.png'))
            .sld-item
                .sld-container
                    .sld-description-container
                        .sld-description-float
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique quasi quaerat unde quo, eum voluptatem alias quam, assumenda, id expedita sit ex velit totam beatae aliquid accusantium sed reiciendis fuga.
                    .sld-logo
                        img(src=require('../../assets/images/img/dummy-logo.png'))