@import '../abstracts/variables.scss';
@import '../abstracts/mixing.scss';
footer {
  position: relative;
  width: 100%;
  color: white;
  background-color: $black;
  &:before {
    content: "";
    position: fixed;
    width: 80px;
    height: 80px;
    background: #191e21;
    left: calc(50% - 50px);
    bottom: -15px;
    border-radius: 50%;
  }
  &.static {
    &:before {
      content: "";
      position: absolute;
      width: 80px;
      height: 80px;
      background: #191e21;
      left: calc(50% - 50px);
      top: -20px;
      border-radius: 50%;
    }
    .foot {
      position: relative;
      &-container {
        align-items: flex-end;
        max-width: 1127px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px 30px 30px;
        @include applyUnder(769px) {
          padding: 20px 15px 15px;
        }
        .column {
          flex-basis: 100%;
          @include applyOver(769px) {
            flex-basis: 33%;
          }
          p {
            margin: 0;
            @include applyUnder(769px) {
              font-size: 12px;
            }
          }
          &.social {
            justify-content: center;
            align-content: center;
            @include applyOver(769px) {
              flex-basis: 33%;
              justify-content: flex-end;
              align-content: flex-end;
            }
          }
          .sucursales {
            font-size: 12px;
            line-height: 1.2;
            color: $gray-text;
            h2 {
              color: #FFF;
              font-weight: bold;
              text-align: left;
              font-size: 16px;
              margin: 0;
            }
          }
        }
      }
    }
  }
  .foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      text-align: center;
      box-sizing: border-box;
      background-color: $black;
    }
    .column {
      flex-basis: 100%;
      @include applyOver(769px) {
        flex-basis: 33%;
      }
    }
    .text,
    a {
      color: $white;
    }
    .text {
      @include applyUnder(769px) {
        font-size: 12px;
        margin-bottom: 5px;
      }
    }
    .social {
      display: flex !important;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-basis: 100%;
      @include applyOver(769px) {
        flex-basis: 33%;
      }
      .item {
        margin: 0 5px;
        img {
          width: 100%;
          height: auto;
          max-width: 20px;
        }
      }
    }
  }
}