@import '../abstracts/variables.scss';
@import '../abstracts/mixing.scss';
#menutop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    z-index: 9999;
}

.menu {
    &.desktop {
        display: block;
        @include applyUnder(769px) {
            display: none;
        }
    }
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    &-container {
        background: $primaryColor;
        @include gradientMenu();
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        .one.column {
            display: flex;
            justify-content: center;
            align-items: center;
            .menu-icon {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &-item {
        max-width: 250px;
        display: inline-block;
        text-align: center;
        &:first-child {
            margin-left: 10px;
        }
        a {
            padding: 0 20px;
            display: block;
            text-decoration: none;
            color: $white;
            line-height: 50px;
            text-transform: initial;
            transition: background-color 0.4s ease-in-out;
            &:hover {
                background: $primaryColor - 5;
            }
        }
        .sub-menu {
            width: 100%;
            background: rgba(29, 78, 125, 0.9);
            position: fixed;
            visibility: hidden;
            left: 0;
            top: 0;
            z-index: -1;
            padding: 0;
            @include applyUnder(769px) {
                visibility: visible;
            }
            transition: all 0.3s ease-in-out;
            .menu-item {
                float: left;
                a {
                    line-height: 45px;
                }
            }
        }
        &:hover {
            .sub-menu {
                top: 48px;
                display: inline;
                visibility: visible;
            }
        }
    }
    &-icon {
        display: block;
        text-align: center;
        a {
            padding: 0 15px;
            margin-right: 15px;
            line-height: normal;
            display: inline-block;
            transition: background-color 0.4s ease-in-out;
            &:hover {
                background: lightness($primaryColor);
            }
            img {
                width: 120px;
                margin: 0;
            }
        }
    }
    &.mobile {
        display: none;
        @include applyUnder(769px) {
            display: block;
        }
        .menu-container {
            @include gradientMobile;
            display: block;
            flex-direction: unset;
            flex-wrap: unset;
            justify-content: unset;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
        }
        .menu-icon {
            img {
                width: 120px;
                height: auto;
            }
        }
        .animation-mobile {
            width: 100%;
            max-width: 80%;
            max-height: 0;
            overflow: hidden;
            transition: max-height .8s ease-in-out, padding .8s ease-in-out;
            &.active {
                max-height: 500px;
                padding-bottom: 25px;
            }
        }
        .menu-item {
            display: block;
            max-width: unset;
            background-image: linear-gradient(to right, black 75%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 25px 1px;
            background-repeat: repeat-x;
            font-family: $h-l;
            &:first-child {
                margin-left: unset;
            }
            &:last-child {
                background: unset;
            }
            a {
                line-height: normal;
                text-align: left;
                padding: 10px 0 2px;
                color: #b0b0b0;
                &:hover {
                    background: unset;
                }
            }
            .sub-menu {
                position: initial;
                overflow: hidden;
                display: block;
                background: unset;
                max-height: 0;
                margin: 0 auto;
                width: 80%;
                padding: 0 0;
                transition: max-height 0.4s ease-in-out, padding.4s ease-in-out;
                .menu-item {
                    float: unset;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.4s ease-in-out;
                }
            }
            &.active {
                .sub-menu {
                    background: unset;
                    overflow: hidden;
                    padding: 10px 0;
                    max-height: 100px;
                    .menu-item {
                        float: unset;
                        max-height: 60px;
                    }
                }
            }
        }
    }
}

#burger {
    position: relative;
    width: 30px;
    .toggle {
        span {
            position: relative;
            width: 100%;
            height: 3px;
            display: block;
            background: $primaryColor;
            margin-bottom: 4px;
            transition: all .6s ease-in-out;
            &:nth-child(1) {
                transform-origin: left;
            }
            &:nth-child(2) {
                transform-origin: center;
            }
            &:nth-child(3) {
                transform-origin: left;
                margin-bottom: 0;
            }
        }
        &.active {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    left: -1px;
                    top: -3px;
                    width: 30px;
                }
                &:nth-child(2) {
                    transform: rotate(-45deg);
                    right: 6px;
                    width: 30px;
                }
                &:nth-child(3) {
                    transform: scale(0);
                }
            }
        }
    }
}

.top {
    &-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 0 auto;
        width: 80%;
    }
    &-item {
        flex-basis: auto;
        display: flex;
        // align-self: flex-start;
        &:nth-child(2) {
            // align-self: flex-end;
        }
    }
}

.float-menu-wrap {
    position: fixed;
    top: 25%;
    right: 5%;
    margin: 0;
    transition: top 0.8s cubic-bezier(0.39, 0.58, 0.57, 1);
    @include applyUnder (500px) {
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
    }
    ul {
        display: block;
        @include applyUnder (500px) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }
        li {
            display: block;
            text-decoration: none;
            margin: 0;
            width: 80px;
            height: 80px;
            margin: 1px 0;
            background-color: #3f3f3f;
            border-radius: 15px;
            position: relative;
            transition: background-color .5s ease-in-out, opacity .5s ease-in-out;
            opacity: 0.4;
            @include applyUnder (500px) {
                opacity: 1;
                height: unset;
                border-radius: unset;
                width: 25%;
                transition: all .5s ease-in-out;
                filter: grayscale(90%);
                &:nth-child(1) {
                    background-color: $red;
                }
                &:nth-child(2) {
                    background-color: $orange;
                }
                &:nth-child(3) {
                    background-color: $green;
                }
                &:nth-child(4) {
                    background-color: $blue;
                }
                &:nth-child(5) {
                    background-color: $greenDark;
                }
                &:nth-child(6) {
                    background-color: $red;
                }
                &:nth-child(7) {
                    background-color: $orange;
                }
                &:nth-child(8) {
                    background-color: $green;
                }
            }
            &:after {
                content: "";
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid transparent;
                width: 0;
                height: 0;
                position: absolute;
                left: -8px;
                top: 30px;
                opacity: 0;
            }
            &.active {
                opacity: 1;
                @include applyOver(501px) {
                    background-color: $secondaryColor;
                }
                @include applyUnder (500px) {
                    filter: grayscale(0);
                }
                &:after {
                    border-right: 10px solid $secondaryColor;
                    opacity: 1;
                    transition: border .5s ease-in-out, opacity .5s ease-in-out;
                    @include applyUnder (500px) {
                        content: unset;
                    }
                }
            }
        }
    }
}