.relevant {
	margin: 0px 10px;
	padding: 15px;
}

.relevant-container,
.relevant-container-slider {
	padding: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	background-color: white;
	align-content: flex-start;
	margin-bottom: 10px;
}

.relevant-item,
.relevant-item-slide {
	position: relative;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px 5px;
	margin: 10px 10px;
	flex-basis: 30%;
	max-width: 245px;
	transition: border .2s ease-in-out;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.relevant-item-text {
	padding: 5px 10px;
}

.relevant-item-text label {
	width: 100%;
	display: block;
}

.relevant-item-text input {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.relevant-item-image {
	text-align: center;
	padding: 6px 0 0;
}

.relevant-item-image button {
	display: block;
	margin: 0 auto;
	padding: 0;
	border-radius: 5px;
}

.relevant-item:hover {
	border-color: #673AB7;
}

.relevant-item-buttons {
	text-align: right;
	padding: 5px 0;
}

button#delete,
#deleteSlide,
#slidedelete {
	position: absolute;
	background-color: #ff2360;
	border: 1px solid white;
	border-radius: 50%;
	opacity: 0.7;
	top: -8px;
	right: -12px;
	color: white;
	line-height: 15px;
	font-size: 10px;
	font-weight: 100;
  z-index: 600;
	cursor: pointer;
	transition: opacity .3s ease-in-out;
	outline: none;
}
button#delete,:focus
#deleteSlide:focus,
#slidedelete:focus{
	outline: none;
}

button#delete:hover,
#deleteSlide:hover,
#slidedelete:hover {
	opacity: 1;
}

.relevant-item:first-child button#delete,
.relevant-item-slide:first-child button#slidedelete {
	visibility: hidden;
	cursor: pointer;
}

.sliderProduct {
	margin: 0px 10px;
	padding: 15px;
}

.sliderProduct-container {
	padding: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	background-color: white;
	align-content: flex-start;
	margin-bottom: 10px;
}

.sliderProduct-item {
	position:relative;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px 5px;
	margin: 10px 10px;
	flex: 1 1 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	max-width: 100%;
	transition: border .2s ease-in-out;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.sliderProduct-item:hover {
	border-color: #673AB7;
}

.sliderProduct-item-text {
	width: 80%;
	padding: 0 30px 0 15px;
}

.sliderProduct-item-text textarea {
	width: 100%;
	min-height: 100px;
	border-radius: 5px;
}

.sliderProduct-item-text label {
	font-size: 16px;
	font-weight: bold;
	color: #9E9E9E;
}

.sliderProduct-item-image {
	width: 20%;
	padding: 0 30px;
	text-align: center;
}

.sliderProduct-item-buttons {
	padding-left: 10px;
}

.sliderProduct-item:first-child button#deleteSlide {
	visibility: hidden;
	cursor: pointer;
}

.selector-page {
	padding: 15px;
}

.selector-page-item {
	display: inline-block;
	width: 48%;
}

.selector-page-item label {
	display: block;
}

.selector-page-item select {
	min-width: 300px;
	font-size: 18px;
	margin: 5px 10px;
}