@import '../../../scss/abstracts/_variables';
@import '../../../scss/abstracts/mixing.scss';


.modal {
    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(74, 74, 74, 0.6);
      width: 100%;
      height: 100%;
      z-index: 300;
      animation: fadeOut 1s forwards;
  
      &.active {
        animation: fadeIn 1s forwards;
      }
  
    }
  
    &-wrap {
      position: absolute;
      width: 95%;
      height: auto;
      max-width: 1024px;
      left: 0;
      right: 0;
      top: 5%;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
      transform: translateY(150px);
      box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.5);
      background: #fff;
      border-radius: 2px;
    }
  }
  
  @keyframes modalIn {
    0% {
      transform: translateY(150px);
      opacity: 0.1;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
  }
  
  /*@keyframes animationOut {*/
  @keyframes modalOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(150px);
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
      visibility: visible;
      display: block;
    }
  }
  
  /*@keyframes animationOut {*/
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  }
  