#float-menu.float-menu-wrap
     ul
          li.active(data-menuanchor="firstPage")
               a(href="#firstPage")
                    img(src=require('../../assets/images/svg/HOME-06.svg'), draggable="false")
          li(data-menuanchor="secondPage")
               a(href="#secondPage")
                    img(src=require('../../assets/images/svg/HOME-07.svg'), draggable="false")
          li(data-menuanchor="thirdPage")
               a(href="#thirdPage")
                    img(src=require('../../assets/images/svg/HOME-08.svg'), draggable="false")
          li(data-menuanchor="fourthPage")
               a(href="#fourthPage")
                    img(src=require('../../assets/images/svg/HOME-09.svg'), draggable="false")
          li(data-menuanchor="fivethPage")
               a(href="#fivethPage")
                    img(src=require('../../assets/images/svg/HOME-09.svg'), draggable="false")