#fullpage
    .section(style=`background-image:url(${require("../../assets/images/img/home1.jpg")})`)
        .wrap
            .slide-content
                h2 De una industria operativa</br> a una INTÉLIGENTE
                h2 saufer 4.0
                p Especialistas en soluciones de procesos industriales, acueductos, energia y oil and gas
                a.button-slide(href="#") Enterese como
    .section(style=`background-image:url(${require("../../assets/images/img/home2.jpg")})`)
        .wrap  
            .slide-content
                h2 De una industria operativa</br> a una INTELIGENTE
                h2 saufer 4.0
                p Especialistas en soluciones de procesos industriales, acueductos, energia y oil and gas
                a.button-slide(href="#") Enterese como
    .section(style=`background-image:url(${require("../../assets/images/img/home3.jpg")})`)
        .wrap 
            .slide-content
                h2 De una industria operativa</br> a una INTELIGENTE
                h2 saufer 4.0
                p Especialistas en soluciones de procesos industriales, acueductos, energia y oil and gas
                a.button-slide(href="#") Enterese como
    .section(style=`background-image:url(${require("../../assets/images/img/hom4.jpg")})`)
        .wrap  
            .slide-content
                h2 De una industria operativa</br> a una INTELIGENTE
                h2 saufer 4.0
                p Especialistas en soluciones de procesos industriales, acueductos, energia y oil and gas
                a.button-slide(href="#") Enterese como 
    .section(style=`background-image:url(${require("../../assets/images/img/hom4.jpg")})`)
        .wrap  
            .slide-content
                h2 De una industria operativa</br> a una INTELIGENTE
                h2 saufer 4.0
                p Especialistas en soluciones de procesos industriales, acueductos, energia y oil and gas
                a.button-slide(href="#") Enterese como 