@import '../abstracts/variables.scss';
@import '../abstracts/mixing.scss';
.section-schedule {
    margin-top: 20px;
    padding: 60px 15px 30px;
    box-sizing: border-box;
    img {
        height: auto;
    }
    h1 {
        color: $purple;
        font-family: $h-r;
        font-size: 3pc;
        border-bottom: 1px solid $gray-light;
        margin-bottom: 20px;
        @include smResp {
            font-size: 2.1pc;
        }
        @include xsResp {
            font-size: 1.8pc;
        }
    }
    h3 {
        color: $gray;
        font-size: 1.4pc;
        font-family: $h-l;
        margin-bottom: 15px;
    }
    p {
        color: $gray;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.2;
        text-align: justify;
        display: block;
        strong {
            font-family: $h-b;
        }
    }
    ul {
        display: block;
        list-style-type: none;
        margin: 11px 50px 20px;
        @include smResp {
            margin: 11px 15px 20px;
        }
        @include xsResp {
            margin: 11px 15px 20px;
        }
    }
    li {
        position: relative;
        @extend p;
        display: list-item;
        margin-bottom: unset;
        line-height: 1.5;
        padding-left: 20px;
        &:before {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            background: $purple;
            border-radius: 50%;
            left: 0;
            top: 5px;
        }
    }
    .banner {
        position: relative;
        margin: 30px 0;
        &.contt {
            width: 60%;
            margin: 30px auto;
            @include smResp {
                width: 100%;
            }
            @include xsResp {
                width: 100%;
            }
        }
        &-video {
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
            max-height: 290px;
            cursor: disabled;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        &-imagen {
            overflow: hidden;
            img {
                width: 100%;
            }
        }
    }
    .float {
        max-width: 250px;
        float: right;
        margin: 40px;
    }
}

.schedule-slider {
    img {
        width: 100%;
        height: auto;
    }
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    h3 {
        text-align: center;
        font-size: 3pc;
        line-height: normal;
        padding: 40px 0 10px;
        color: $purple;
        text-align: left;
        margin-bottom: 0;
        @include smResp {
            font-size: 2.1pc;
        }
        @include xsResp {
            font-size: 1.8pc;
        }
    }
    &-container {
        position: relative;
        width: 100%;
        .image-to-post {
            position: relative;
            padding-bottom: 7px;
            img {
                display: block;
                margin: 0 auto;
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: 0;
                background: $gray;
                opacity: 0.8;
            }
        }
        .content {
            .title {
                text-align: left;
                padding: 10px 16px 0;
                font-size: 20px;
            }
            p {
                text-align: justify;
                padding: 10px 16px;
                color: $gray;
            }
            a {
                &.more-link {
                    background: #281a46;
                    color: #fff;
                    border: 1px solid transparent;
                    font-size: 12px;
                    line-height: 3;
                    padding: 6px 20px;
                    border-radius: 10px;
                    display: inline;
                    cursor: pointer;
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                }
            }
            .description {
                text-align: justify;
                padding: 16px;
                color: $gray;
            }
        }
    }
    .tns-controls {
        position: absolute;
        top: calc(50% - 20px);
        left: 0;
        width: 100%;
        outline: none;
        button {
            position: relative;
            border: none;
            background: $pruple-light;
            color: #fff;
            font-size: 50px;
            border-radius: 50%;
            line-height: 0;
            letter-spacing: 0;
            width: 40px;
            height: 40px;
            padding: 0px 10px;
            z-index: 999;
            transition: all 0.3s ease-in-out;
            &:disabled,
            &[disabled] {
                opacity: 0.3;
            }
            &:focus {
                border: 1px solid $gray;
            }
            &:first-child {
                float: left;
            }
            &:nth-child(2) {
                float: right;
            }
        }
    }
    .tns-nav {
        position: relative;
        bottom: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        text-align: center;
        margin-top: -15px;
        margin-bottom: 15px;
        button {
            border: 1px solid;
            background-color: $gray-light;
            padding: 5px;
            margin: 5px 2px;
            border-radius: 50%;
            transition: background-color .4s ease-in-out;
            &:focus {
                outline: none;
            }
            &.tns-nav-active {
                background-color: $gray;
            }
        }
    }
}

.entry-content img {
    margin: 0 0 1.5em 0;
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.alignleft,
img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
    border-radius: 5px;
    max-width: 350px;
    @include applyUnder ($sm) {
        height: auto;
        width: 100%;
    }
}

.alignright,
img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
    border-radius: 5px;
    max-width: 350px;
    @include applyUnder ($sm) {
        height: auto;
        width: 100%;
    }
}

.aligncenter,
img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    @include applyUnder ($sm) {
        height: auto;
    }
}

.alignnone,
img.alignnone {
    border-radius: 5px;
    /* not sure about this one */
    @include applyUnder ($sm) {
        height: auto;
    }
}

.wp-caption {
    margin-bottom: 1.5em;
    text-align: center;
    padding-top: 5px;
}

.wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0;
    @include applyUnder ($sm) {
        height: auto;
    }
}

.wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 10px;
    margin: 0;
}

.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}

blockquote.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
}

blockquote.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
}

.section-schedule.contact {
    padding: 60px 0px 30px;
    h1 {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    p {
        display: block;
    }
}

.googlemaps {
    position: relative;
    background: $gray-light;
    width: 100%;
    height: 400px;
    margin-bottom: 0;
}

.form {
    &-container {
        display: flex;
        align-content: baseline;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    &-item {
        padding: 2pc 0 2pc;
        transition: all .6s ease-in-out;
        width: 60%;
        margin: 0 auto;
        @include applyUnder ($md) {
            width: 85%;
        }
        input {
            width: 99%;
            margin: 0 0 10px;
            font-size: 17px;
            outline: none;
            line-height: normal;
            padding: 2px 5px;
            border-radius: 3px;
            border: 1px solid $gray-light;
            color: $gray-medium;
            transition: all 0.4s ease-in-out;
            &:focus {
                border: 1px solid #281a46;
            }
        }
        textarea {
            @extend input;
            min-height: 85px;
            resize: vertical;
        }
        input[type=submit] {
            width: auto;
            background: #281a46;
            color: #FFF;
            border: 1px solid transparent;
            font-size: 16px;
            margin: 10px auto;
            padding: 6px 20px;
            border-radius: 10px;
            display: block;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
            &:disabled {
                background: $gray;
            }
            &:hover {
                box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
                color: #281a46;
                background: $white;
                border: 1px solid #281a46;
            }
        }
        &.red {
            input {
                &:focus {
                    border: 1px solid $red;
                }
                &[type=submit] {
                    background: $red;
                }
            }
        }
        &.orange {
            input {
                &:focus {
                    border: 1px solid $orange;
                }
                &[type=submit] {
                    background: $orange;
                }
            }
        }
        &.green {
            input {
                &:focus {
                    border: 1px solid $green;
                }
                &[type=submit] {
                    background: $green;
                }
            }
        }
        &.blue {
            input {
                &:focus {
                    border: 1px solid $blue;
                }
                &[type=submit] {
                    background: $blue;
                }
            }
        }
        &.green-dark {
            input {
                &:focus {
                    border: 1px solid $greenDark;
                }
                &[type=submit] {
                    background: $greenDark;
                }
            }
        }
    }
    h2 {
        text-transform: uppercase;
        font-size: 50px;
        margin: 5px 35px;
        color: #fff;
        align-self: flex-start;
        width: 70%;
        @include smResp {
            font-size: 2.1pc;
        }
        @include xsResp {
            font-size: 1.8pc;
        }
        @include applyUnder ($md) {
            width: 100%;
            text-align: center;
            margin: 5px 0;
        }
    }
    h4 {
        @extend h2;
        font-size: 20px;
        text-transform: initial;
        @include applyUnder ($md) {
            display: none;
        }
    }
    button {
        display: none;
        color: $white;
        border: none;
        font-size: 16px;
        padding: 10px 19px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: $purple;
        @include colors(true);
        @include applyUnder ($md) {
            display: block;
        }
    }
    label {
        color: $gray-medium;
        font-size: 14px;
        font-family: $h-l;
    }
}