@import '../abstracts/variables.scss';
@import '../abstracts/mixing.scss';

.column {
    box-sizing: border-box;
}

.page-exito {
    padding-top: 5pc;
}

.inside-pages.success {
    margin-bottom: 80px;
}

.selector-ex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

    &-button {
        flex-grow: 1;
        font-size: 16px;
        border: 1px solid #AFAEAE;
        color: $gray;
        margin: 0;
        padding: 7px 35px;
        border-radius: 20px 20px 0 0;
        cursor: pointer;
        text-transform: uppercase;
        background-color: $gray-light;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        &:first-child {
            left: 1px;
        }

        &.active {
            background: white;
            color: $purple;
	    border-bottom:1px solid rgba( 255,0,0,0);
            box-shadow: 0 -2px 3px 0px rgba(0,0,0,.4);
        }
    }
}

.card-success {
    border: 1px solid $pruple-light;
    cursor: pointer;

    &-image {
        img {
            width: 100%;
        }
    }

    &-content {
        padding: 10px;
        text-align: justify;

        h3 {
            text-align: center;
            text-transform: uppercase;
            font-size: 20px;
            color: $gray-text;
            margin: 15px 0;
            font-family: $h-b;
        }

        p {
            color: $gray-text;
            font-family: $h-l;
            line-height: 1.2;

        }
    }

    &-modal-content {
        position: relative;
        display: none;
        visibility: hidden;
        background: $pruple-light;
        height: 0;
        
        .imagen-content{
            img,iframe{
                width: 100%;
            }
        }

        .close-modal {
            border: none;
            max-width: 30px;
            float: right;
            position: fixed;
            right: 5px;
            top: 5px;
            background: white;
            border-radius: 50%;
            height: 30px;
            z-index: 9999;
            cursor: pointer;
            padding: 0px 5px;
        }

        &.active-modal {
            max-height: 85vh;
            height: auto;
            overflow-y: scroll;
            visibility: visible;
            display: block;
            padding-bottom: 30px;
        }

        .slider {
            position: relative;
            display: flex;

            .tns-controls {
                position: absolute;
                top: 45%;
                left: 0;
                width: 100%;
                outline: none;

                button {
                    position: relative;
                    border: none;
                    background: $pruple-light;
                    color: #fff;
                    font-size: 50px;
                    border-radius: 50%;
                    line-height: 0;
                    letter-spacing: 0;
                    width: 40px;
                    height: 40px;
                    padding: 0px 10px;
                    z-index: 999;
                    transition: all 0.3s ease-in-out;

                    &:disabled,
                    &[disabled] {
                        opacity: 0.3;
                    }

                    &:focus {
                        border: 1px solid $gray;
                    }

                    &:first-child {
                        float: left;
                    }

                    &:nth-child(2) {
                        float: right;
                    }
                }
            }

            .tns-nav {
                position: relative;
                bottom: 0;
                left: 0;
                margin-left: auto;
                margin-right: auto;
                right: 0;
                text-align: center;
                margin-top: -15px;
                margin-bottom: 15px;

                button {
                    border: 1px solid;
                    background-color: $gray-light;
                    padding: 5px;
                    margin: 5px 2px;
                    border-radius: 50%;
                    transition: background-color .4s ease-in-out;
                  

                    &:focus {
                        outline: none;
                    }

                    &.tns-nav-active {
                        background-color: $gray;

                    }

                }
            }
        }

        .info-card {
            padding: 30px 60px;
            display: block;

            p {
                color: $white;
                margin-bottom: 5px;

                span {
                    padding: 0 10px;
                }
            }
        }

        .icons-description {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            @include applyUnder($md){
               flex-wrap: wrap;
                
            }

            .item {
                order: 1;
                flex-basis:150px;
                margin: 15px 10px;

                .img-cont {
                    display: block;
                    width: 100%;
                    max-width: 55px;
                    margin: 10px auto;
                }

                .description {
                    font-size: 14px;
                    color: $white;
                    text-align: center
                }
            }
        }

        .call-to-action {
            text-align: center;
            position: relative;
            top: 20px;
            margin: 20px 0;

            a {

                background: $purple;
                position: relative;
                display: inline;
                padding: 11px 20px;
                border-radius: 5px;
                color: $white;
            }
        }

    }

}
img{
    width: 100%;
}
