@import '../abstracts/variables.scss';
@import '../abstracts/mixing.scss';
.ui.container.inside-pages.shadow {
    padding-bottom: 5pc;
}

.banner-image {
    position: relative;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    @include applyUnder ($sm) {
        height: auto;
        padding: 50px 15px;
    }
    &-text {
        position: relative;
        top: 15%;
        left: 30px;
        max-width: 500px;
        text-align: center;
        padding: 60px 60px 35px;
        @include applyUnder ($sm) {
            width: 100%;
            left: 0;
            max-width: unset;
            position: relative;
        }
        h2 {
            font-family: $h-b;
            text-align: left;
            color: $white;
            text-transform: uppercase;
            font-size: 55px;
            text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
            @include mdResp {
                font-size: 45px;
            }
            @include smResp {
                font-size: 40px;
            }
            @include applyUnder ($sm) {
                font-size: 24px;
                text-align: center;
                word-wrap: break-word;
            }
        }
    }
}

.icons-description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    @include applyUnder (769px) {
        flex-wrap: wrap;
        margin: 20px 0;
    }
    .item {
        order: 1;
        max-width: 150px;
        margin: 15px 30px;
        @include applyUnder (769px) {
            flex-basis: 33%;
            margin: 10px 0;
        }
        .img-cont {
            display: block;
            width: 100%;
            max-width: 55px;
            margin: 10px auto;
        }
        .description {
            font-size: 14px;
            color: $gray;
            text-align: center;
        }
    }
}

.gallery {
    &.ui.grid.equal.width.four.center.aligned.padded.stackable {
        .column.nopadding {
            @include applyUnder($md) {
                padding: 1px 0 0 0 !important;
                flex-basis: 50% !important;
            }
        }
    }
    &-item {
        position: relative;
        height: 400px;
        background-color: $pruple-light;
        background-size: cover;
        background-position: center center;
        @include colors(true);
    }
    &-information {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        &:hover {
            p {
                opacity: 1;
                max-height: 400px;
                padding-bottom: 10px;
            }
            &:after {
                opacity: 0.5;
            }
        }
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #000;
            opacity: 0;
            content: '';
            transition: all 0.5s ease-in-out;
        }
        .float-warp {
            position: absolute;
            bottom: 0;
            padding: 0 25px;
            z-index: 10;
        }
        h6,
        p {
            color: $white;
        }
        h6 {
            font-size: 22px;
            font-family: $h-b;
            margin-bottom: 10px;
        }
        p {
            text-align: justify;
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            margin-bottom: 15px;
            transition: max-height .8s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 1s cubic-bezier(0.39, 0.575, 0.565, 1), padding .5s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
    }
}

.success-cases {
    display: block;
    overflow: hidden;
    width: 100%;
    .ui.grid {
        .column {
            &:first-child {
                padding: 1rem 0.5rem 1rem 1rem;
                @include applyUnder(768px) {
                    padding: 0 !important;
                }
            }
            &:nth-child(2) {
                padding: 1rem .5rem 1rem .5rem;
                @include applyUnder(768px) {
                    display: none;
                }
            }
            &:nth-child(3) {
                padding: 1rem 1rem 1rem .5rem;
                @include applyUnder(768px) {
                    padding: 6px 0 0 0 !important;
                }
            }
        }
    }
    h3 {
        text-align: center;
        font-size: 3pc;
        line-height: normal;
        padding: 40px 0 10px;
        color: $purple;
        text-transform: uppercase;
        @include colors(false);
        @include smResp {
            font-size: 2.1pc;
            padding: 60px 0 30px;
        }
        @include xsResp {
            font-size: 1.8pc;
            padding: 60px 0 30px;
        }
    }
    &-container {
        position: relative;
        width: 100%;
        height: 300px;
        background-color: $gray;
        background-size: cover;
        background-position: center center;
        &:hover {
            .description {
                &:before {
                    opacity: 1;
                }
            }
        }
        &.middle {
            &-top {
                @extend .success-cases-container;
                height: 148px;
                margin-bottom: 6px
            }
            &-botton {
                @extend .success-cases-container;
                height: 144px;
                margin-top: 6px
            }
        }
        .description {
            position: absolute;
            display: block;
            padding: 15px 25px;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 100%);
            transition: background-image .4s ease-in-out;
            text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.83);
            z-index: 1;
            &:before {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                content: "";
                @include gradientHover;
                z-index: -1;
                opacity: 0;
                transition: opacity .5s ease-in-out;
                @include applyUnder($md) {
                    opacity: 0.6;
                }
            }
            p {
                color: $white;
                text-align: left;
                font-size: 20px;
                line-height: 1;
                @include xsResp {
                    font-size: 16px;
                }
                a {
                    color: $white;
                    padding: 0px;
                    font-size: 15px;
                    &.more-link {
                        background: #281a46;
                        color: #fff;
                        border: 1px solid transparent;
                        font-size: 12px;
                        line-height: 3;
                        padding: 6px 20px;
                        border-radius: 10px;
                        display: inline;
                        cursor: pointer;
                        -webkit-transition: all .4s ease-in-out;
                        transition: all .4s ease-in-out;
                    }
                }
            }
        }
    }
}

.schedule {
    display: block;
    overflow: hidden;
    width: 100%;
    h3 {
        text-align: center;
        font-size: 3pc;
        line-height: normal;
        padding: 40px 0 10px;
        color: $purple;
        text-transform: uppercase;
        @include colors(false);
        @include smResp {
            font-size: 2.1pc;
            padding: 60px 0 20px;
        }
        @include xsResp {
            font-size: 1.8pc;
            padding: 60px 0 20px;
        }
    }
    @include applyUnder($sm) {
        .ui.grid.equal.width.tree.center.aligned.padded.stackable {
            .column {
                margin: 0!important;
                flex-direction: row;
                justify-content: flex-start;
                flex-basis: 50%;
                box-sizing: border-box;
                padding: 0 1px !important;
                &:nth-child(3) {
                    display: none;
                }
            }
        }
    }
    &-container {
        position: relative;
        width: 100%;
        .image-to-post {
            position: relative;
            padding-bottom: 7px;
            img {
                display: block;
                margin: 0 auto;
                width: 100%;
                object-fit: cover;
            }
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: 0;
                background: $gray;
                opacity: 0.8;
            }
        }
        .content {
            .title {
                text-align: left;
                padding: 10px 16px 0;
                font-size: 20px;
            }
            p {
                text-align: justify;
                padding: 10px 16px;
                color: $gray;
            }
            a {
                &.more-link {
                    background: #281a46;
                    color: #fff;
                    border: 1px solid transparent;
                    font-size: 12px;
                    line-height: 3;
                    padding: 6px 20px;
                    border-radius: 10px;
                    display: inline;
                    cursor: pointer;
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    @include colors(true);
                }
            }
            .description {
                text-align: justify;
                padding: 16px;
                color: $gray;
            }
            &.orange {
                .title {
                    color: $orange;
                }
                a {
                    &.more-link {
                        background: $orange;
                    }
                }
            }
            &.red {
                .title {
                    color: $red;
                }
                a {
                    &.more-link {
                        background: $red;
                    }
                }
            }
            &.green {
                .title {
                    color: $green;
                }
                a {
                    &.more-link {
                        background: $green;
                    }
                }
            }
            &.blue {
                .title {
                    color: $blue;
                }
                a {
                    &.more-link {
                        background: $blue;
                    }
                }
            }
            &.green-dark {
                .title {
                    color: $greenDark;
                }
                a {
                    &.more-link {
                        background: $greenDark;
                    }
                }
            }
        }
    }
}

.sld {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    .tns-nav {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        text-align: center;
        button {
            border: 1px solid;
            background-color: $gray-light;
            padding: 5px;
            margin: 5px 2px;
            border-radius: 50%;
            transition: background-color .4s ease-in-out;
            &:focus {
                outline: none;
            }
            &.tns-nav-active {
                background-color: $gray;
            }
        }
    }
    &-wrapper {
        background: $gray-light;
    }
    &-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 25px;
        @include xsResp {
            flex-wrap: wrap-reverse;
        }
    }
    &-description {
        order: 1;
        &-container {
            width: 70%;
            @include xsResp {
                width: 100%;
            }
        }
        &-float {
            width: 85%;
            margin: auto;
            p {
                padding: 15px;
                color: #4b4b4a;
                text-align: justify;
                font-size: 18px;
            }
        }
    }
    &-logo {
        order: 1;
        width: 30%;
        max-width: 200px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        // width: 30%;
        padding: 15px;
        @include xsResp {
            width: 100%;
        }
    }
}

.googlemaps {
    position: relative;
    background: $gray-light;
    width: 100%;
    height: 400px;
    margin-top: -3pc;
    margin-bottom: 0;
}

.selector {
    display: flex;
    justify-content: center;
    &-button {
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid transparent;
        color: #737373;
        margin: 0;
        min-width: 220px;
        padding: 10px 20px 5px;
        border-radius: 20px 20px 0 0;
        cursor: pointer;
        text-transform: uppercase;
        background-color: #bfbfbf;
        transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
        @include applyUnder (769px) {
            min-width: unset;
            padding: 10px 25px;
            font-size: 16px;
        }
        &:first-child {
            left: 1px;
        }
        &.active {
            background: white;
            color: $purple;
            -webkit-box-shadow: 0 0 7px -2px rgba(0, 0, 0, .75);
            box-shadow: 0 0 7px -2px rgba(0, 0, 0, .75);
        }
    }
}

.form {
    &-contact {}
    &-container {
        display: flex;
        align-content: baseline;
        flex-wrap: nowrap;
        flex-direction: row;
        @include applyUnder ($md) {
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
    &-item {
        width: 40%;
        padding: 2pc 0;
        @include applyUnder ($md) {
            width: 100%;
        }
        &:first-child {
            width: 60%;
            clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            background-size: cover;
            background-position: center center;
            @include applyUnder ($md) {
                width: 100%;
                clip-path: unset;
                padding: 75px 0;
            }
        }
        &:nth-child(2) {
            padding: 2pc 3pc 2pc 0;
            transition: all .6s ease-in-out;
            @include applyUnder ($md) {
                padding: 0 30px;
                box-sizing: border-box;
                max-height: 0;
                overflow: hidden;
            }
            &.active {
                max-height: 600px;
                padding: 30px;
            }
            input {
                width: 95%;
                margin: 0 0 10px;
                font-size: 17px;
                outline: none;
                line-height: normal;
                padding: 2px 5px;
                border-radius: 3px;
                border: 1px solid $gray-light;
                color: $gray-medium;
                transition: all 0.4s ease-in-out;
                &:focus {
                    border: 1px solid #281a46;
                }
            }
            textarea {
                @extend input;
                min-height: 85px;
                resize: vertical;
            }
            input[type=submit] {
                width: auto;
                background: #281a46;
                color: #FFF;
                border: 1px solid transparent;
                font-size: 16px;
                margin: 10px auto;
                padding: 6px 20px;
                border-radius: 10px;
                display: block;
                cursor: pointer ;
                transition: all 0.4s ease-in-out;
                &:disabled {
                    background: $gray;
                }
                &:hover {
                    box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
                    color: #281a46;
                    background: $white;
                    border: 1px solid #281a46;
                }
            }
            &.red {
                input {
                    &:focus {
                        border: 1px solid $red;
                    }
                    &[type=submit] {
                        background: $red;
                    }
                }
            }
            &.orange {
                input {
                    &:focus {
                        border: 1px solid $orange;
                    }
                    &[type=submit] {
                        background: $orange;
                    }
                }
            }
            &.green {
                input {
                    &:focus {
                        border: 1px solid $green;
                    }
                    &[type=submit] {
                        background: $green;
                    }
                }
            }
            &.blue {
                input {
                    &:focus {
                        border: 1px solid $blue;
                    }
                    &[type=submit] {
                        background: $blue;
                    }
                }
            }
            &.green-dark {
                input {
                    &:focus {
                        border: 1px solid $greenDark;
                    }
                    &[type=submit] {
                        background: $greenDark;
                    }
                }
            }
        }
        h2 {
            text-transform: uppercase;
            font-size: 50px;
            margin: 5px 35px;
            color: #fff;
            align-self: flex-start;
            width: 70%;
            @include smResp {
                font-size: 2.1pc;
            }
            @include xsResp {
                font-size: 1.8pc;
            }
            @include applyUnder ($md) {
                width: 100%;
                text-align: center;
                margin: 5px 0;
            }
        }
        h4 {
            @extend h2;
            font-size: 20px;
            text-transform: initial;
            @include applyUnder ($md) {
                display: none;
            }
        }
        button {
            display: none;
            color: $white;
            border: none;
            font-size: 16px;
            padding: 10px 19px;
            margin-top: 20px;
            border-radius: 5px;
            background-color: $purple;
            @include colors(true);
            @include applyUnder ($md) {
                display: block;
            }
        }
        label {
            color: $gray-medium;
            font-size: 14px;
            font-family: $h-l;
        }
    }
}

img {
    width: 100%;
}