@import '../abstracts/variables.scss';
@import '../abstracts/mixing.scss';
.section {
    background-position: center center;
    background-size: cover;
    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .wrap {
        position: relative;
        width: 90%;
        display: block;
        margin: 0 auto;
        max-width: 1440px;
    }
    .slide-content {
        color: $white;
        margin: 20px 0;
        max-width: 60%;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.66);
        @include applyUnder (1440px) {
            max-width: 50%;
        }
        @include applyUnder (769px) {
            max-width: 80%;
        }
        @include applyUnder (500px) {
            max-width: unset;
        }
        h2 {
            font-size: 3pc;
            text-transform: none;
            font-family: $h-b;
            letter-spacing: -1px;
            line-height: 1;
            @include laptop {
                font-size: 2.4pc;
            }
            @include laptopL {
                font-size: 2.7pc;
            }
            @include applyUnder (500px) {
                text-align: center;
            }
            &:nth-child(2) {
                font-size: 2.5pc;
                font-family: $h-l;
                text-transform: uppercase;
                margin: 5px 0;
                line-height: normal;
                letter-spacing: normal;
                font-weight: lighter;
                @include applyUnder (1440px) {
                    font-size: 1.8pc;
                    line-height: 1;
                }
            }
        }
        p {
            font-size: 25px;
            max-width: 550px;
            @include applyUnder (1440px) {
                font-size: 20px;
            }
            @include applyUnder (500px) {
                text-align: center;
            }
        }
        .button-slide {
            display: block;
            padding: 10px 0;
            background: $red;
            color: $white;
            text-align: center;
            max-width: 60%;
            font-size: 22px;
            margin-top: 30px;
            border-radius: 5px;
            @include applyUnder (1440px) {
                margin: 15px auto;
            }
        }
    }
}

img {
    width: 100%;
}